{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h3 class="">{{ header }}</h3>

    <form method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Jmeno</label>
                {% if edit_data %}
                <input type="text" name="first_name" class="form-control" id="inputEmail4" placeholder="Jméno" value = {{ edit_data['jmeno'] }}>
                {% else %}
                <input type="text" name="first_name" class="form-control" id="inputEmail4" placeholder="Jméno">
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Příjmení</label>
                {% if edit_data %}
                <input type="text" name="second_name" class="form-control" id="inputPassword4" placeholder="Příjmení" value={{ edit_data['prijmeni'] }}>
                {% else %}
                <input type="text" name="second_name" class="form-control" id="inputPassword4" placeholder="Příjmení">
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Email</label>
                {% if edit_data %}
                <input type="email" name="email" class="form-control" id="inputAddress" placeholder="Email" value={{ edit_data['email'] }}>
                {% else %}
                <input type="email" name="email" class="form-control" id="inputAddress" placeholder="Email">
                {% endif %}

            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress2">Telefon</label>
                {% if edit_data %}
                <input type="number" name="telephone" class="form-control" id="inputAddress2" placeholder="420111222333" value={{ edit_data['telefon'] }}>
                {% else %}
                <input type="number" name="telephone" class="form-control" id="inputAddress2" placeholder="420111222333">
                {% endif %}

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">Ulice a číslo popisné</label>
                {% if edit_data %}
                <input type="text" name="street" class="form-control" id="inputCity" placeholder="Ve Svahu 3" value={{ edit_data['adresa'] }}>
                {% else %}
                <input type="text" name="street" class="form-control" id="inputCity" placeholder="Ve Svahu 3">
                {% endif %}

            </div>
            <div class="form-group col-md-6">
                <label for="inputTown">Město</label>
                {% if edit_data %}
                <input type="text" name="town" class="form-control" id="inputTown" placeholder="Praha 1" value={{ edit_data['mesto'] }}>
                {% else %}
                <input type="text" name="town" class="form-control" id="inputTown" placeholder="Praha 1">
                {% endif %}

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
            </div>
            <div class="form-group col-md-2">
                <label for="inputTown">PSČ</label>
                {% if edit_data %}
                <input type="number" name="psc" class="form-control" id="inputPsc" placeholder="123 45" value="{{ edit_data['psc'] }}">
                {% else %}
                <input type="number" name="psc" class="form-control" id="inputPsc" placeholder="123 45">
                {% endif %}

            </div>
        </div>
        <div class="col-md-12">
            <div class="article_wrapper">
                {% if edit_data %}
                <button name="submit" value="upravit" class="btn btn-lg btn-primary" role="button">Upravit</button>
                {% else %}
                <button name="submit" value="ulozit" class="btn btn-lg btn-primary" role="button">Uožit</button>
                {% endif %}
            </div>
        </div>
    </form>

</div>
{% endblock %}