{% extends 'base.html' %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="profile-head">
            <div class="profiles col-xs-8 col-xs-push-2  col-sm-10 col-sm-push-1 thumbnail">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="row">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-responsive"/>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <span class="col-sm-12"><h5>{{ data['jmeno'] }} {{ data['prijmeni'] }}</h5></span>
                        <div class="col-md-4 col-sm-6 col-xs-12">

                            <ul>
                                <li><span>{{ data['adresa'] }}</span></li>
                                <li><span>{{ data['mesto'] }}</span></li>
                                <li><span>{{ data['psc'] }}</span></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">

                            <ul>
                                <li><span>{{ data['email'] }}</span></li>
                                <li><span>{{ data['telefon'] }}</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="top-buffer">
                        <span class=""><h4>Sjednaná pojištění</h4></span>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Pojištění</th>
                                <th scope="col">Částka</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for poj in pojisteni %}
                            <tr>
                                <td><a href="{{ url_for('pojistenci_detail', id=poj['id']) }}" name="id">{{ poj['predmet_pojisteni'] }}</a>
                                </td>
                                <td>{{ poj['castka'] }},-Kč</td>
                                <td class="article_wrapper col-md-3">
                                    <a class="btn btn-danger" href="{{ url_for('delete_pojisteni', id=poj['id'] ) }}" role="button">Odstranit</a>
                                    <a class="btn btn-warning" href="{{ url_for('uprava_pojisteni', id=poj['id'] ) }}" role="button">Editovat</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12">
                        <form method="post" action="{{ url_for('get_member', id=data['id']) }}">
                        <div class="article_wrapper">
                            <button name="submit" value='add_pojisteni' class="btn btn-primary" type="submit">Přidat pojištění</button>
                            <button name="submit" value='edit' class="btn btn-warning" type="submit">Editovat pojištěnce</button>
                            <button name="submit" value='delete' class="btn btn-danger" type="submit">Odstranit pojištěnce</button>
                        </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}