{% extends 'base.html' %}

{% block body %}

<div class="container">

            <h3 class="">Pojištěnci</h3>

<div class="article_wrapper">
    <p><a href="{{ url_for('pojistenci_novy') }}" class="btn btn-lg btn-primary" role="button">Nový pojištěnec</a></p>
</div>

<div class="top-buffer">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Jméno Příjmení</th>
      <th scope="col">Adresa</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for pojistenec in pojistenci %}
    <tr>
      <td><a href="{{ url_for('pojistenci_detail', id= pojistenec.id) }}" name="id">{{ pojistenec.jmeno }} {{ pojistenec.prijmeni }}</a></td>
      <td>{{ pojistenec.mesto }}, {{ pojistenec.adresa }}, {{ pojistenec.psc }}</td>
      <td class="article_wrapper col-md-3">
          <form method="post" action="{{ url_for('get_member', id=pojistenec.id) }}">
          <button name="submit" class="btn btn-danger" value='delete' role="button">Odstranit</button>
          <button name="submit" class="btn btn-warning" value='edit' role="button">Editovat</button>
            </form>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>

</div>

{% endblock %}