{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h3 class="">Přidat pojištění pro: {{ pojistenec['jmeno'] }} {{ pojistenec['prijmeni'] }}</h3>
    <form method="POST" >
        <div class="container">
            <br/>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="sel1">Pojištění:</label>
                <select name="pojisteni" class="custom-select form-control" id="sel1" required>
                    <option selected >{{ pojistka['typ_pojisteni'] }}</option>
                    {% for poj in pojisteni %}
                        {% if poj['predmet_pojisteni'] != pojistka['typ_pojisteni']  %}
                    <option value="{{ pojistka['predmet_pojisteni'] }}">{{ poj['predmet_pojisteni'] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Hodnota pojištění</label>
                <input type="number" name="castka" class="form-control" id="inputEmail4" placeholder="Částka"
                       value="{{ pojistka['castka'] }}"
                       required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Předmět pojištění</label>
                <input type="text" name="predmet_pojisteni" class="form-control" id="inputPassword4"
                       placeholder="Předmět pojištění" value="{{ pojistka['predmet_pojisteni'] }}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress1">Platnost od</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name="platnost_od" placeholder="dd.mm.yyyy"
                           id="inputAddress1" required value="{{ pojistka['platnost_od'] }}">
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="inputAddress2">Platnost do</label>
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" name="platnost_do" placeholder="dd.mm.yyyy"
                           id="inputAddress2" required value="{{ pojistka['platnost_do'] }}">
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
            </div>
        </div>

        <div class="col-md-12">
            <div class="article_wrapper">
                <button name="submit" class="btn btn-lg btn-primary" role="button">Upravit</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}